.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.search {
  display: flex;
  align-items: center;
  background-color: var(--element-color);
  max-width: 400px;
  width: 100%;
  padding: 17px;
  padding-left: 30px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  gap: 17px;
}

.search__icon {
  color: var(--text-color);
}

.search__input {
  background: none;
  border: none;
  font-family: var(--font-family);
  color: var(--text-color);
  outline: none;
  width: 100%;
}

.search__input::placeholder {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 14px;
}

.dropdown {
  position: relative;
  width: 182px;
}

.dropdown__button {
  width: 100%;
  height: 100%;
  padding: 17px 20px;
  background-color: var(--element-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
}

.dropdown__menu {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  background-color: var(--element-color);
  box-shadow: var(--shadow);
  border-radius: 5px;
  list-style: none;
  padding: 10px 0;
  z-index: 1000;
  display: none;
}

.dropdown.is-open .dropdown__menu {
  display: block;
}

.dropdown__item {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
}