body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
}

.page {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 50px 30px;
}