@media (max-width: 1260px) {
  .countries__container {
    gap: 40px;
  }

  .card__flag-wrapper {
    width: 100%;
    aspect-ratio: 5 / 3;
    height: auto;
    overflow: hidden;
  }

  .card__flag-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 1180px) {
  .countries__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .card__flag-wrapper {
    width: 100%;
    aspect-ratio: 5 / 3;
    height: auto;
    overflow: hidden;
  }

  .card__flag-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .country-detail__info {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .theme-toggle {
    font-size: 14px;
  }

  .theme-toggle__icon {
    font-size: 16px;
  }

  .content {
    padding: 30px;
  }

  .countries__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .card__title {
    width: 100%;
    white-space: wrap;
  }

  .country-detail {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  p {
    font-size: 16px;
  }

  .header {
    padding: 40px 20px;
  }

  .header__title {
    font-size: 18px;
  }

  .theme-toggle,
  .theme-toggle__icon,
  .back-btn,
  .search__input,
  .search__input::placeholder,
  .select__input,
  .border-country__btn {
    font-size: 16px;
  }

  .content {
    padding: 30px 20px 60px 20px;
  }

  .controls {
    flex-direction: column;
    align-items: self-start;
    gap: 40px;
    margin-bottom: 35px;
  }

  .search {
    max-width: 100%;
  }

  .countries__container {
    grid-template-columns: 80%;
    justify-content: center;
  }

  .content-detail {
    padding: 30px;
  }

  .controls__detail {
    padding: 20px 0 70px 0;
  }

  .country-detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    padding-bottom: 40px;
  }

  .country-detail__flag {
    width: 100%;
    aspect-ratio: 5 / 3;
    height: auto;
    overflow: hidden;
  }

  .country-detail__name {
    font-size: 28px;
  }

  .country-detail__info {
    flex-direction: column;
    gap: 50px;
  }

  .country-info__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .country-detail__borders{
    flex-direction: column;
  }

  .country-detail__borders-label {
    font-size: 16px;
    padding: 0;
  }

  .border-country__btn {
    width: 115px;
    padding: 8px;
  }
}
