.page {
  background-color: var(--bg-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
    font-size: 14px;
}

.page {
  font-family: var(--font-family);
  color: var(--text-color);
}

.header {
  background-color: var(--element-color);
  box-shadow: var(--shadow);
  padding: 20px 30px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.header__home-link {
  text-decoration: none;
  color: var(--text-color);
}

.header__home-link:visited {
  color: var(--text-color);
}

.header__title {
  font-weight: 800;
  font-size: 24px;
}

.theme-toggle {
  background: none;
  border: none;
  height: 30px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
  color: var(--text-color);
}

.theme-toggle__icon {
  font-size: 14px;
  transform: rotate(-30deg);
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 50px 30px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.search {
  display: flex;
  background-color: var(--element-color);
  max-width: 400px;
  width: 100%;
  padding: 17px;
  padding-left: 30px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  gap: 10px;
}

.search__icon {
  color: var(--text-color);
}

.search__input {
  background: none;
  border: none;
  font-family: var(--font-family);
  color: var(--text-color);
  outline: none;
  width: 100%;
}

.search__input::placeholder {
  font-family: var(--font-family);
  color: var(--text-color);
}

.select-wrapper {
  position: relative;
}

.region-filter {
  border: none;
  background: none;
  background-color: var(--element-color);
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 17px;
  font-family: var(--font-family);
  width: 182px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--text-color);
}

.select__arrow {
  position: absolute;
  top: 35%;
  right: 17px;
  font-size: 12px;
  pointer-events: none;
}

.region-filter:focus {
  outline: none;
}

.countries-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 65px;
}

.card {
  list-style: none;
  cursor: pointer;
  background-color: var(--element-color);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.card__flag-wrapper {
  width: 100%;
  aspect-ratio: 5 / 3;
  height: auto;
  overflow: hidden;
}

.card__flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__info {
  padding: 25px;
  padding-bottom: 45px;
}

.card__title {
  margin-bottom: 15px;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 800;
}

.card__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__details p {
  font-weight: 300;
}

.card__details p strong {
  font-weight: 600;
}

/* --------- details page --------------*/

.controls__back-btn {
  padding: 20px 0 70px 0;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  background-color: var(--element-color);
  color: var(--text-color);
  box-shadow: var(--shadow-btn);
  font-family: var(--font-family);
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
}

.country-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 72px;
  padding-bottom: 100px;
}

.flag-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 13 / 9;
  overflow: hidden;
}

.details__flag {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.details__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.details__country-name {
  font-weight: 800;
}

.details_country-info_container {
  display: flex;
  gap: 150px;
}

.country-info_column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.borders {
  display: flex;
  gap: 8px;
  white-space: nowrap;
  align-items: start;
}

.borders p {
  padding-top: 5px;
}

.borders-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.border-country__btn {
  background: none;
  border: none;
  background-color: var(--element-color);
  color: var(--text-color);
  box-shadow: var(--shadow-btn);
  font-family: var(--font-family);
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px;
  min-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1260px) {
  .countries-container {
    gap: 40px;
  }

  .card__flag-wrapper {
    width: 100%;
    aspect-ratio: 5 / 3;
    height: auto;
    overflow: hidden;
  }

  .card__flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 1180px) {
  .countries-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .card__flag-wrapper {
    width: 100%;
    aspect-ratio: 5 / 3;
    height: auto;
    overflow: hidden;
  }

  .card__flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .details_country-info_container {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .theme-toggle {
    font-size: 14px;
  }

  .theme-toggle__icon {
    font-size: 16px;
  }

  .content {
    padding: 30px;
  }

  .countries-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .card__title {
    width: 100%;
    white-space: wrap;
  }

  .country-details {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  p {
    font-size: 16px;
  }

  .header {
    padding: 40px 20px;
  }

  .header__title {
    font-size: 18px;
  }

  .theme-toggle, .theme-toggle__icon, .back-btn, .search__input, .search__input::placeholder, .region-filter, .border-country__btn {
    font-size: 16px;
  }

  .content {
    padding: 30px 20px;
  }

  .controls {
    flex-direction: column;
    align-items: self-start;
    gap: 40px;
    margin-bottom: 35px;
  }

  .countries-container {
    grid-template-columns: 80%;
    justify-content: center;
  }

  .content__detail {
    padding: 30px;
  }

  .controls__back-btn {
    padding: 20px 0 70px 0;
  }

  .country-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    padding-bottom: 40px;
  }

  .flag-wrapper {
    width: 100%;
    aspect-ratio: 5 / 3;
    height: auto;
    overflow: hidden;
  }

  .details__country-name {
    font-size: 28px;
  }

  .details_country-info_container {
    flex-direction: column;
    gap: 50px;
  }

  .country-info_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .borders {
    flex-direction: column;
  }

  .borders p {
    font-size: 16px;
    padding: 0;
  }
}
