:root {
    --bg-light: hsl(0, 0%, 99%);
    --text-light: hsl(200, 15%, 8%);
    --element-light: hsl(0, 100%, 100%);
    --bg-dark: hsl(207, 26%, 17%);
    --text-dark: hsl(0, 100%, 100%);
    --element-dark: hsl(209, 23%, 22%);
    --font-family: "Nunito Sans";
    --content-width: 1200px;
    --shadow: 0px 0px 8px 0px rgb(228, 228, 228);
}